* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-background-color: #161513;
    --header-background-color: #222;
    --defualt-color: #C5C5C5;
    --Primary-color: #fff;
    --Primary-Gradient: linear-gradient(140deg, #FF8660 38.79%, #9A33FF 85.51%);
    --Orange-Gradient: linear-gradient(180deg, #FF8660 0%, #D5491D 100%);
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--body-background-color);
    color: var(--defualt-color);
}

header {
    background-color: var(--header-background-color);
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 1100px;
    margin: 0 auto;
}

.logo h1 {
    font-size: 35px;
    color: var(--Primary-color);
    padding: 20px 20px;
}

.logo h1>span {
    background: var(--Primary-Gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
}

.navbar div {
    padding: 30px 20px;
}

.navbar a {
    color: var(--Primary-color);
}

.container {
    width: 1100px;
    margin: 0 auto;
    padding: 80px 20px;
}

.avatar img {
    width: 231px;
    background-image: linear-gradient(to bottom right, #FF8660 38.79%, #9A33FF 85.51%), url('cdn\images\avatar.png');
    border-radius: 50%;
}

.about {
    text-align: center;
}

.about-txt {
    width: 656px;
    margin: 30px auto;
}

.about-txt h1 {
    font-size: 55px;
    line-height: 1;
    color: var(--Primary-color);
}

.about-txt h1>span {
    background: var(--Primary-Gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-txt p {
    font-size: 18px;
    margin-top: 30px;
}

.about-btn {
    margin-top: 30px;
}

.btn-primary {
    width: 195px;
    height: 64px;
    border-radius: 50px;
    border: 1px solid var(--Primary-color);
    background: linear-gradient(0deg, var(--Primary-color) 0%, var(--Primary-color) 100%), var(--Primary-color);
    font-size: 22px;
    font-weight: 600;
    margin-right: 20px;
    cursor: pointer;
}

.btn-secondary {
    width: 195px;
    height: 64px;
    border-radius: 50px;
    background: none;
    border: 2px solid var(--Primary-color);
    color: var(--Primary-color);
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
}

.learning {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.learning-langs {
    width: 299px;
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
}

.learning-langs img {
    width: 45px;
    cursor: pointer;
}

.primary-heading {
    text-align: center;
    font-size: 35px;
}

.heading-project {
    background: var(--Orange-Gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.projects {
    display: flex;
    justify-content: center;
    margin: 40px 0;
    flex-wrap: wrap;
}

.project-item {
    background: #2A2A2A;
    margin: 20px;
    border-radius: 18px 18px 0 0;
}

.project-item img {
    width: 390px;
    height: 235px;
    border-radius: 18px 18px 0 0;
}

.ultraedit-image {
    object-fit: contain;
}

.project-title {
    padding: 15px;
}

.project-title h3 {
    color: var(--Primary-color);
}

footer {
    background-color: #191919;
}

footer h2 {
    color: var(--Primary-color);
    font-size: 24px;
    margin-bottom: 20px;
}

footer p {
    font-size: 15px;
}

.email-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}